* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto,sans-serif;
    width: 100%;
}

.hero--one {
    height: 60vh;
    background-color: #1f2937;
    padding: 16px 250px;
    display: flex;
    flex-direction: column;
    gap: 108px;
}

.hero--one__header {
    display: flex;
    justify-content: space-between;
}

.hero--one__header > p {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a,
.hero--one__text p{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero--one__main {
    display: flex;
    justify-content: space-between;
    height: 29vh;
}

.hero--one__text {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.hero--one__text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero--one__text p {
    margin-bottom: 20px;
}

.hero--one__text button {
    background-color: rgb(72, 72, 197);
    color: #fff;
    font-size: 18px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    align-self: flex-start;
}

.hero--one__main .img--placeholder{
    width: 50%;
    background-color: #606060;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero--two {
   padding: 32px 250px;     
   width: 100%;
   min-height: 50vh;
}

.hero--two h2 {
    text-align: center;
    margin: 36px 0 68px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.hero--two__container {
    display: flex;
    justify-content: space-between;
}

.hero--two__container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    margin-bottom: 68px;
}

.hero--two__container .img-box {
    height: 220px;
    width: 90%;
    border: 5px solid #3882f6;
    border-radius: 20px;
}
.hero--two__container p {
    text-align: center;
    font-weight: 200;
}
.quote {
    background-color: #e5e7eb;
    padding: 128px 250px;     
    min-height: max-content;
}
.quote p:first-child {
    font-size: 36px;
    font-style: italic;
    font-weight:  200;
    color: #1f2937;
}

.quote p:last-child {
    text-align: end;
    font-size: 28px;
    font-weight: 900;
}